*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.container {
  max-width: 1440px;
  margin: 40px auto;
  background: hsla(28, 100%, 86%, 0.2);
  opacity: 90%;
}

body {
  font-family: 'Overpass', sans-serif;
  /*min-height: 100vh;*/
  font-size: 18px;
}
